/*Colores de azules del tema, el azul de abajo de los botones rgb(18,69,175)
y del de arriba rgb(91,136,224)*/
.root {
    -fx-dBlue-ag2:rgb(18,69,175);/*Significa dark-blue*/
    -fx-mBlue-ag2:rgb(91,136,224);/*Significa middle-blue*/
}

.ver-borde-verde{/*Para ver el borde cualquier cosa cuando se desarrolla, TEMPORAL*/
    -fx-border-style: solid;
    -fx-border-color:green;
}
.ver-borde-rojo{/*Para ver el borde cualquier cosa cuando se desarrolla, TEMPORAL*/
    -fx-border-style: solid;
    -fx-border-color:red;
}

.ventanaPrincipal{
    -fx-background-color: linear-gradient(to top, #EEEEEE,#A6A6A6,#EEEEEE,#A6A6A6,#EEEEEE,#A6A6A6,#EEEEEE,#A6A6A6);
    -fx-border-color: #020C70;/*#707070*/
    -fx-border-width: 3px;
    /*    -fx-border-radius: 5px;*/
}

.modal-AG2-window{
    -fx-border-color: #707070;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

#mainToolBar{
    -fx-background-image: url("../images/background-titlebar-ag2.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#menu-bar{
    /*    -fx-background-color: #687FFF;*/
    /*    -fx-background-radius: 5;*/
    -fx-background-color: linear-gradient(to top,-fx-dBlue-ag2 0%,-fx-mBlue-ag2 70%);/*rgb(0,134,229),rgb(0,100,172)*/
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 6 6 0 0;
    -fx-text-fill:white;
    -fx-font-weight: bold
}

.bg-bigContainer-menuBar{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-dBlue-ag2,-30%), derive(-fx-mBlue-ag2,10%));
}


#world-ocean{
    -fx-fill:radial-gradient(center 50% 0%, radius 100%, derive(-fx-mBlue-ag2,50%), derive(-fx-dBlue-ag2,10%) 80%);
}
#non-world-ocean{
    -fx-fill: white;
}

/**********************************************************************/
/*Todo lo referente con los menus*/
.menu-item-ag2 {
    -fx-font-weight: normal;
}
.menu-item-ag2:hover,.menu-item-ag2:focused {
    -fx-background-color: linear-gradient(to top,-fx-dBlue-ag2 0%,-fx-mBlue-ag2 70%);
    -fx-text-fill:white;
    -fx-font-weight: bold
}

.context-menu {
    -fx-background-color:/*-fx-dBlue-ag2 0%,-fx-mBlue-ag2*/
        derive(#B2D1FF,-40%),
        derive(#B2D1FF,100%),
        linear-gradient(to bottom, derive(#B2D1FF,100%) 0%, derive(#B2D1FF,50%) 12%, derive(#B2D1FF,65%) 88%, derive(#B2D1FF,23%) 100%);
}
/**********************************************************************/

.bg-general-container{
    /*    -fx-base: -fx-mBlue-ag2;*/
    -fx-border-color: -fx-mBlue-ag2;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-color: linear-gradient(from 0% 20% to 100% 80%, derive(-fx-mBlue-ag2,90%),derive(-fx-mBlue-ag2,70%), derive(-fx-mBlue-ag2,90%));
}

#titleApplication{
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    /*    -fx-effect: dropshadow( two-pass-box , #B2BEFF, 10, 0.0 , 2 , 4);*/
}

.separator-toolbar{
    -fx-background-color: -fx-dBlue-ag2;
    -fx-border-style: dotted;
    -fx-border-width: 0.1;
}

.arcoSeleccionado{
    -fx-stroke:#3ADF00;
    -fx-stroke-dash-array: 12 6 9 6;
}

.arcoNoSeleccionado{
    -fx-stroke:#90EE90;
    -fx-stroke-dash-array: 100%;
}

.nodoSeleccionado{
    -fx-border-color: #44FF00;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}
.marcoVentana{
    -fx-border-color: gray;
    -fx-border-width: 2;
}
#scrollPane-menu-tools{
    -fx-background-color:linear-gradient(from 0% 49% to 100% 51%,derive(-fx-dBlue-ag2,80%), derive(-fx-mBlue-ag2,85%));
}

.nodoNoSeleccionado{
    -fx-border-width: 0;
}

.boxLogosHorizontalGradient{
    -fx-border-radius: 5;
    -fx-border-color:gray;
    -fx-border-width:1px;
    /*    -fx-background-color:null;*/
}
.boxLogos{
    -fx-background-color:#B4FCFF;
    -fx-effect: innershadow(gaussian,blue,20,0.5,0,0);
    -fx-background-radius: 15, 14, 13,13;
    /*    -fx-opacity: 50%;*/
}

.boxLogosVerticalGradient{
    -fx-border-radius: 5;
    -fx-border-color:gray;
    -fx-border-width:1px;
    -fx-background-color:linear-gradient(to top, derive(-fx-base,-5%) 0%, derive(-fx-base,90%) 50%, derive(-fx-base,-5%) 100%);
}
.boxChart{
    -fx-border-radius: 5;
    -fx-border-color:#687FFF;
    -fx-border-width:1px;
    -fx-background-color:null;
}
.boxChart2{
    -fx-border-radius: 5;
    -fx-border-color:#BFBFBF;
    -fx-border-width:1px;
    -fx-background-color:null;
}

.boxDataChart{
    -fx-border-radius: 4;
    -fx-border-color:#687FFF;
    -fx-border-width:1px;
    -fx-background-color:null;
}

.data-progress-box{
    -fx-border-width:1px;
    -fx-border-style: dashed;
    -fx-border-color:#FF9A00;
    -fx-background-color:linear-gradient(to top, #FFD779 0%,#FFF2D0 45%, #FFF2D0 55%, #FFD779 100%);
}
/**Este es el estilo q se supone q usa la caja q tiene la pelotica q usa el avance
de la simulacion, no se esta usando este estilo por ahora*/
.progress-indicator-box{
    -fx-border-style: dashed;
    -fx-border-width:1px;
    -fx-border-color:#FF9A00;
    -fx-background-color:#FFE3A1;
}

ProgressBar progress-bar:indeterminate .bar {
    -fx-background-color: linear-gradient(to top left, transparent,lime);
}

#window-close,#window-min,#window-max {
    -fx-font-size: 1px;
    -fx-background-color: transparent;
    /*    -fx-padding:0px;*/
}

#window-close:hover {
    -fx-background-image: url("../images/window-close-over.png");
    -fx-background-repeat: no-repeat;
}

#window-min:hover {
    -fx-background-image: url("../images/window-min-over.png");
    -fx-background-repeat: no-repeat;
}

#window-max:hover {
    -fx-background-image: url("../images/window-expand-over.png");
    -fx-background-repeat: no-repeat;
}

#modalDimmer {
    -fx-background-color: rgb(0,0,0,0.5);
}

.table-view:focused .table-row-cell:selected:focused, .table-view:focused .table-row-cell:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background: black;
    -fx-background-color: linear-gradient(to top,-fx-dBlue-ag2 0%,-fx-mBlue-ag2 70%);
    /*    -fx-text-fill: -fx-selection-bar-text;*/
    /*-fx-font-weight: bold;*/
}

.table-view .column-header, .table-view .filler, .table-view .column-drag-header {
    /*    -fx-text-fill: black;*/
    /*    -fx-font-weight: bold;*/

    /* TODO: for some reason, this doesn't scale. */
    -fx-font-size: 0.95em; /* 13pt - 1 more than the default font */
    -fx-size: 20;
    /*    -fx-font-style:italic;*/
    /*    -fx-font-family:Courier,monospace;*/
    -fx-background-color: null;
    -fx-border-style: solid;
    -fx-border-color:
        /*
          Inner border: we have different colours along the top, right, bottom and left.
          Refer to RT-12298 for the spec.
        */
        derive(FFFFFF, 80%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%)
        derive(-fx-base, 10%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%),
        /* Outer border: */
        transparent -fx-table-header-border-color -fx-table-header-border-color transparent;
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #C3D5FF;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab{
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
    -fx-text-fill:black;
    -fx-font-weight:normal
}

.tab:selected {
    -fx-background-color: linear-gradient(to top,-fx-dBlue-ag2 0%,-fx-mBlue-ag2 70%);/*rgb(0,134,229),rgb(0,100,172)*/
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
    -fx-text-fill:white;
    -fx-font-weight: bold
}

.chart-title {
    -fx-font-size: 14;
}
/* ====================== LINE CHART =========================================*/
.chart-line-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}
.chart-series-line {
    -fx-stroke: #f9d900;
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}
.default-color0.chart-line-symbol { -fx-background-color: #f9d900, white; }
.default-color1.chart-line-symbol { -fx-background-color: #a9e200, white; }
.default-color2.chart-line-symbol { -fx-background-color: #22bad9, white; }
.default-color3.chart-line-symbol { -fx-background-color: #0181e2, white; }
.default-color4.chart-line-symbol { -fx-background-color: #2f357f, white; }
.default-color5.chart-line-symbol { -fx-background-color: #860061, white; }
.default-color6.chart-line-symbol { -fx-background-color: #c62b00, white; }
.default-color7.chart-line-symbol { -fx-background-color: #ff5700, white; }
.default-color0.chart-series-line { -fx-stroke: #f9d900; }
.default-color1.chart-series-line { -fx-stroke: #a9e200; }
.default-color2.chart-series-line { -fx-stroke: #22bad9; }
.default-color3.chart-series-line { -fx-stroke: #0181e2; }
.default-color4.chart-series-line { -fx-stroke: #2f357f; }
.default-color5.chart-series-line { -fx-stroke: #860061; }
.default-color6.chart-series-line { -fx-stroke: #c62b00; }
.default-color7.chart-series-line { -fx-stroke: #ff5700; }

#window-resize-button {
    -fx-background-image: url("../images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
    -fx-cursor:move;
}

/*************BOTON Q MUESTRA Y OCULTA LAS LATBLAS DE PROPIEDADES**************/
#btn-show-hide-properties{
    -fx-background-color: white;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-cursor: hand;
    -fx-border-color: derive(-fx-mBlue-ag2,10%);
    -fx-border-radius:3;
}
#btn-show-hide-properties:hover{
    -fx-border-color: derive(-fx-dBlue-ag2,-10%);
}

.btn-show-minus{
    -fx-background-image: url("../images/arrow-show-minus.png");
}
.btn-show-more{
    -fx-background-image: url("../images/arrow-show-more.png");
}

/***************MAPA DE NAVEGACION Y ELEMENTOS INTERNOS************************/

.bg-map-navigation{
    -fx-background-color: linear-gradient(to bottom,derive(-fx-mBlue-ag2,20%),derive(-fx-mBlue-ag2,40%),derive(-fx-mBlue-ag2,20%) );
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 10;

    -fx-text-fill:white;
    -fx-font-weight: bold;

    -fx-border-color:white;
    -fx-border-style:segments(7,9,8);
    -fx-border-insets:1;
    -fx-border-radius:10;
    -fx-border-width:2;
}

#title-nav-map{
    -fx-label-padding:3;
    -fx-text-fill:white;
    -fx-font-size:1.1em;
}

.bg-map-navigation .label{
    -fx-text-fill:derive(-fx-dBlue-ag2,-75%);
    -fx-alignment:center-right
}

.bg-map-navigation .choice-box {
    -fx-background-color: derive(-fx-mBlue-ag2,50%), derive(-fx-mBlue-ag2,25%),derive(-fx-mBlue-ag2,0%),
        linear-gradient( to bottom, derive(-fx-mBlue-ag2,50%) 0%, derive(-fx-mBlue-ag2,90%) 100%);
}

.bg-map-navigation .choice-box:focused {
    /*    -fx-background-color: derive(-fx-mBlue-ag2,70%), derive(-fx-mBlue-ag2,45%),derive(-fx-mBlue-ag2,20%),
            linear-gradient(to top,-fx-dBlue-ag2 75%,-fx-mBlue-ag2 98%);*/
    -fx-background-color: derive(-fx-mBlue-ag2,20%), derive(-fx-mBlue-ag2,-5%),derive(-fx-mBlue-ag2,-30%),
        linear-gradient( to bottom, derive(-fx-mBlue-ag2,20%) 0%, derive(-fx-mBlue-ag2,70%) 100%);
}

.bg-map-navigation .choice-box .label {
    -fx-text-fill:derive(-fx-dBlue-ag2,-90%);
    -fx-font-weight: normal;
}

.menu-item:focused {
    -fx-background-color: linear-gradient(to top,-fx-dBlue-ag2 0%,-fx-mBlue-ag2 70%);
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.menu-item .label {
    -fx-font-weight: normal;
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.bg-map-navigation .button {
    -fx-background-color: white;
    /*    -fx-text-fill: derive(-fx-dBlue-ag2,0%);*/
}

.bg-map-navigation .button:focused {
    -fx-background-color: white, derive(-fx-mBlue-ag2,-5%),derive(-fx-mBlue-ag2,-30%),
        white;
}

.go-btn{
    -fx-background-image: url("../images/go_arrow.png");    
    -fx-background-size: 55% 55%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-cursor:hand;
    -fx-background-radius:10
}

/******************LUZ DEL HEADER Q TIENE LA ANIMACION************************/
#animation-light{
    /*    -fx-fill: red;*/
    -fx-background-image: url("../images/light.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    /*
        -fx-border-style: solid;
        -fx-border-color:green;*/
}

#path-light{
    -fx-stroke:transparent;
    /*    -fx-stroke-width:0.5px;*/
    /*    -fx-effect:dropshadow( gaussian , derive(-fx-mBlue-ag2,-30%) , 10, 0.5 ,0,0 ); */
}


